---
import Layout from "../../layouts/Layout.astro";

async function setMembers(): Promise<string> {
  const generalMembersResponse = await fetch(
    "https://github.com/The-Holy-Church-of-Terry-Davis/aalsda-data/blob/main/members/general.json?raw=true"
  );

  if (!generalMembersResponse.ok) {
    throw new Error("Couldn't get general members data from GitHub.");
  }

  const generalMembersdata = await generalMembersResponse.json();

  const boardMembersResponse = await fetch(
    "https://github.com/The-Holy-Church-of-Terry-Davis/aalsda-data/blob/main/members/board.json?raw=true"
  );

  if (!boardMembersResponse.ok) {
    throw new Error("Couldn't get general members data from GitHub.");
  }

  const boardMembersdata = await boardMembersResponse.json();

  let result = [boardMembersdata, generalMembersdata];
  // https://stackoverflow.com/a/47924059/14363702 - Thanks
  const data = result.reduce(function (r, e) {
    return (
      Object.keys(e).forEach(function (k) {
        if (!r[k]) r[k] = [].concat(e[k]);
        else r[k] = r[k].concat(e[k]);
      }),
      r
    );
  }, {});

  let htmlString = "";
  for (var i = 0; i < data.members.length; i++) {
    const member = data.members[i];
    htmlString += `<tr><td>${member.name}</td><td align="center">${member.role}</td><td align="center">${member.joinDate}</td></tr>`;
  }

  return htmlString;
}
---

<Layout title="AALSDA | Members > All">
  <table class="data-table" width="70%" cellpadding="1" cellspacing="1">
    <tbody set:html={setMembers()}>
      <tr>
        <th align="left">Member</th>
        <th>Role</th>
        <th>Join Date</th>
      </tr>
    </tbody>
  </table>
</Layout>
