---
import Layout from "../../layouts/Layout.astro";
import { board } from "../../lib/fetchMembers";

async function setMembers(): Promise<string> {
    const data = await board();
    
    let htmlString = "";
    for (var i = 0; i < data.members.length; i++) {
        const member = data.members[i];
        htmlString += `<tr><td>${member.name}</td><td align="center">${member.role}</td><td align="center">${member.joinDate}</td></tr>`;
    }
    
    return htmlString;
}
---

<Layout title="AALSDA | Members > Board">
    <table class="data-table" width="70%" cellpadding="1" cellspacing="1">
        <tbody set:html={setMembers()}>
            <tr>
                <th align="left">Board Member</th>
                <th>Role</th>
                <th>Join Date</th>
            </tr>
        </tbody>
    </table>
</Layout>